@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

@*home page*@
<h1>The Joel Hilton Film Collection</h1>

<img src="~/img/JoelHiltonHeadshot.jpg" />
<br />

<div>
    <a asp-controller="Home" asp-action="EnterMovie">Fill Out The Form for the Movie</a>
</div>