@{
    Layout = "_Layout";
}

@*navagation bar*@
<div class="topnav">
    <a asp-controller="Home" asp-action="Index">Home</a>

    <a asp-controller="Home" asp-action="movieEntry">Movie Form</a>
    <a asp-controller="Home" asp-action="podcast">Podcast</a>
</div>